<!-- ImporterDialog.svelte -->
<script lang="ts">
  import { importCharacter } from '../module/importer/importer'
  import { ImportOptions } from '../module/importer/importOptions';
  import { getGame } from '../module/utils';

  export var actors = []
  export var foundryApp = null

  let xmldata = ''
  let selectedActorId = ''
  let options = new ImportOptions()
  const game = getGame()

  function handleClick() {
    const actorId = selectedActorId != '' ? selectedActorId : undefined
    importCharacter(xmldata, actorId, options)
    foundryApp.close()
  }

  function handleDragDrop(event) {
    event.preventDefault()
    const file = event.dataTransfer.files[0]
    if (file) {
      const reader = new FileReader()
      reader.onload = function (event) {
        xmldata = event.target.result as string
      }
      reader.readAsText(file)
    }
  }
</script>

<select bind:value={selectedActorId}>
  <option value="" selected>None</option>
  {#each actors as actor}
    <option value={actor.id}>{actor.name}</option>
  {/each}
</select>
Test
<textarea
  class="importer-input"
  rows="10"
  cols="30"
  bind:value={xmldata}
  on:drop={handleDragDrop} />
<label>
  <input type=checkbox bind:checked={options.importEquipment}>
  {game.i18n.localize('DSA.checkImportEquipment')}
</label>
<div class="dialog">
  <div class="dialog-buttons">
    <button on:click={handleClick}> Submit </button>
  </div>
</div>
